.all{
  width: 1400px;
  margin: auto;
}

h1{
margin:0;}
.mast{
  background-color: white;
  font-family: "Times New Roman";
font-size: 80px;
text-align: center;}
h2{margin:0px;
font-family: "Arial";
}
h3{margin:0px;
font-family: "Arial";
font-size:25px;}
.hero{
  margin-top: 10px;
float: left;
width: 680px;
margin-right: : 10px;
font-size: 20px;
}

.hero h2{
  font-size: 40px;
}

.hero img{width:700px;}

.breaking{
  margin-top: 10px;
  width: 340px;
float: left;
margin-right: 10px;
}
.breaking h2{
  font-size: 20px;
}

.breaking h3{font-weight: normal;}

.tagline{font-style: italic;
font-size: 15px;
text-align: center;}

.sidestory-container{
margin-top: 10px;
    width: 340px;
    float: right;
    margin-left: 10px;
}

.sidestory{margin-bottom: 5px;}

.ad{background-color: red;
color: green;
border-color: blue;
border: 5px;
text-align: center;
clear: both;
}

@-webkit-keyframes blinker {
  from {
      opacity: 1.0;
  }
  to {
      opacity: 0.0;

  }
}

.ad h2 {
    font-size: 60px;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.1s;
}

.morestory-container h2{
  font-size:20px;
}

.morestory{
margin-top: 10px;
vertical-align: top;
  width: 340px;
  float: left;
margin-right: 10px;}

.botbreak{clear: both;}

footer{font-family: "Arial";
font-size: 15px;
}
