<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>layout</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="all">

<div class="red">
  <img src="pan.gif" alt="">
  <h1>MY NAME IS OZYMANDIAS</h1>
</div>
<div class="blue">
  <img src="sponge.gif" alt="">
  <h2>KING <br>OF <br> KINGS</h2>
</div>
<div class="green">
<img src="square.gif" alt="">
<h2>LOOK <br> UPON</h2>
</div>
<div class="yellow">
  <img src="square2.gif" alt="">
  <h2>MY <br> WORKS</h2>
</div>
<div class="purple">
  <img src="lion.gif" alt="">
  <h2>YEA MIGHTY</h2>
</div>
<div class="pink">
  <img src="weiner.gif" alt="">
  <h2>AND DESPAIR</h2>
</div>

  </div>

</body>
</html>
